.app-container{
  margin: 7% 25%;
}
.app-heading{
  color: #4E598C;
}
.app-tab{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tab-link{
  text-decoration: none;
  color: #BDBDBD;
  font-weight: 600;
  font-size: 20px;
}
.app-btn-group{
  margin-top: 50px;
  display: flex;
}
.app-btn-filled{
  color: white;
  width: 150px;
  background-image: linear-gradient(#F2C94C, #F2994A);
  margin-right: 30px;
}
.app-btn-text{
  color: #4E598C;
  font-weight: bold;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form component */
.custom-form-label{
  color: black;
  font-weight: bold;
}
.custom-form-text{
  margin-bottom: 10px;
}

/* ConfirmPayment component */
.app-card-details{
  height: 300px;
  border-radius: 10px;
  padding-top: 50px;
}
.app-card-text{
  margin: 20px 0;
}
.app-rule{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.app-row{
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  font-size: 20px;
}
.app-card-total{
  border: 1px solid #817E9E;
  border-radius: 5px;
  padding: 10px 45px 10px 20px;
}
.app-card-header{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2F80ED;
  color: white;
}
