.app-container{
  margin: 7% 25%;
}
.app-heading{
  color: #4E598C;
}
.app-tab{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tab-link{
  text-decoration: none;
  color: #BDBDBD;
  font-weight: 600;
  font-size: 20px;
}
.app-btn-group{
  margin-top: 50px;
  display: flex;
}
.app-btn-filled{
  color: white;
  width: 150px;
  background-image: linear-gradient(#F2C94C, #F2994A);
  margin-right: 30px;
}
.app-btn-text{
  color: #4E598C;
  font-weight: bold;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form component */
.custom-form-label{
  color: black;
  font-weight: bold;
}
.custom-form-text{
  margin-bottom: 10px;
}

/* ConfirmPayment component */
.app-card-details{
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(33, 30, 67, 0.08);
  padding-bottom: 5%;
}
.app-card-header{
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  background-color: #2F80ED;
  color: white;
}
.app-card-text{
  margin: 20px 0;
}
.app-rule{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.app-row{
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  font-size: 20px;
}
.app-card-total{
  border: 1px solid #817E9E;
  border-radius: 5px;
  padding: 10px 45px 10px 20px;
}

/* Complete payment */
.complete-card{
  padding: 5% 20% 10% 15%;
  height: 40%;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(33, 30, 67, 0.08)
}
.complete-heading{
  color: #4E598C;
  font-weight: 700;
  font-size: 48px;
}
.complete-link{
  color: #F2994A;
}
.payment-icon{
  width: 84px;
  height: 84px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
